apiVersion: v1
kind: Service
metadata:
  name: devops-demo-service
spec:
  type: NodePort
  selector:
    app: devops-demo
  ports:
    - port: 8080         # Cluster-internal port
      targetPort: 8080   # Container port
      nodePort: 30080    # Port on Minikube node (must be between 30000-32767)